/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.cd-products-comparison-table ul{
    list-style: none!important;
}
.cd-cart ul{
	list-style-type: none;
}
.cd-cart ul li .product-details{
	text-align: left;
}
.cd-cart ul li {
	padding-bottom: 10px;
}